{% extends 'hotels/base.html' %}

{% block title%}
Home
{% endblock %}

{% block content %}
<p>Hello, and welcome to the HotelCheckr website! Here we have collected the list of all the hotels available on the csv file and sorted them by city for all your travel needs!</p>
<br>
<p>This website was coded by Franciszek Pauwels upon the request of Maykin Media. GitHub repository is available at</p> 
<a href="https://github.com/Unungentium/MaykinTest">this link</a>. Thank you for your consideration.
{% endblock %}